<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <script
      type="text/javascript"
      src="https://demo.microstrategy.com/MicroStrategyLibrary/javascript/native-embedding-sdk.js"
    ></script>
    <style>
      .card-playground {
        max-width: 322px;
        max-height: 500px;
        margin: 20px;
        display: inline-block;
        border: 1px solid #0e6ff9;
        border-radius: 10px;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
      }
      .card-invisible {
        display: none;
        visibility: hidden;
      }
      .text {
        font-size: 12px;
        font-weight: bold;
        display: block;
        padding-left: 10px;
        padding-top: 5px;
      }
      .viz-container {
        width: 300px;
        height: 300px;
        margin: 10px;
      }
      .selecter {
        width: 200px;
        height: 30px;
        margin: 20px 20px 0 5px;
      }
      .page-select-container {
        margin: 20px 10px 20px 20px;
        text {
          font-size: 20px;
        }
      }
    </style>
  </head>
  <body onload="renderVizInDashboard()">
    <div class="page-select-container">
      <text> Select Page </text>
      <select id="page-select" class="selecter">
        <option>All</option>
      </select>
    </div>
    <div id="container" style="width: 100%"></div>
    <script type="text/javascript">
      const renderVizInDashboard = async () => {
        var vizRenderList = [];
        // configuration for the target dashboard
        const dashboardConfigs = {
          projectId: 'EC70648611E7A2F962E90080EFD58751',
          objectId: '85D9C39DC546D9E07FB19FBF36F13A14',
        };
        let serverUrl = 'https://demo.microstrategy.com/MicroStrategyLibrary';
        const config = {
          serverUrl,
          getAuthToken: async () => {
            return fetch(`${serverUrl}/api/auth/login`, {
              method: 'POST',
              credentials: 'include', // including cookie
              mode: 'cors', // setting as CORS mode for cross origin
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({
                // here we login as guest user, you can log in as normal user with `username` and `password` as well
                // username: "input your username",
                // password: "input your password",
                loginMode: 8, // 8 means guest login, use `1` if you log in as normal user
              }),
            })
              .then((response) => {
                if (response && response.ok) {
                  return response.headers.get('X-MSTR-authToken');
                }
                throw Error('Failed to fetch auth token.');
              })
              .catch((error) => {
                console.log('Error:', error);
              });
          },
        };
        // INSERT PROPERTIES BELOW HERE

        // INSERT PROPERTIES ABOVE HERE
        const environment = await microstrategy.embeddingComponent.environments.create(config);
        const dossier = await environment.loadDossier(dashboardConfigs);
        // print dashboard definition
        const dossierDefinition = await dossier.getDossierDefinition();
        console.log('Dashboard Definition:');
        console.log(dossierDefinition);
        const pageSelecter = document.getElementById('page-select');
        // add all the pages in dashboard into the page selecter
        configurePageSelecter();

        // draw the vizs in all pages
        const drawAllViz = async () => {
          vizRenderList = [];
          // clean out the container
          const parent = document.getElementById('container');
          parent.innerHTML = '';
          const pageName = pageSelecter.options[pageSelecter.selectedIndex].text;
          for (const chapter of dossierDefinition.chapters) {
            for (const page of chapter.pages) {
              for (const viz of page.visualizations) {
                // filter out the the vis which has 'secondaryDataProvidedFor'
                // these viz are not able to render
                if (viz.secondaryDataProvidedFor) {
                  continue;
                }
                var mainContainer = document.getElementById('container');
                var card = document.createElement('div');
                var vizContainer = document.createElement('div');
                populateViz(mainContainer, card, vizContainer, viz);
                // prepare the vizRenderList: {key: vizKey, container: vizContainer}
                vizRenderList.push({
                  key: viz.key,
                  container: vizContainer,
                });
              }
            }
          }
          // draw the viz
          await dossier.refresh(vizRenderList);
        };
        pageSelecter.onchange = handlePageChange;
        await drawAllViz();
        // INSERT METHODS BELOW HERE

        // INSERT METHODS ABOVE HERE

        function populateViz(mainContainer, card, vizContainer, viz) {
          card.classList.add('card-playground');
          card.id = viz.key;

          // populate the vizInfo: vizType, vizName, vizKey
          var vizType = document.createElement('div');
          vizType.classList.add('text');
          vizType.textContent = '- Type: ' + viz.visualizationType;
          card.appendChild(vizType);
          var vizName = document.createElement('div');
          vizName.classList.add('text');
          vizName.textContent = '- Name: ' + viz.name;
          card.appendChild(vizName);
          var vizKey = document.createElement('div');
          vizKey.classList.add('text');
          vizKey.textContent = '- Key: ' + viz.key;
          card.appendChild(vizKey);

          // populate the vizContainer which is the container for the viz rendering
          vizContainer.classList.add('viz-container');
          card.appendChild(vizContainer);
          mainContainer.appendChild(card);
        }

        function handlePageChange() {
          for (const chapter of dossierDefinition.chapters) {
            for (const page of chapter.pages) {
              if (
                pageSelecter.options[pageSelecter.selectedIndex].text !== 'All' &&
                page.name !== pageSelecter.options[pageSelecter.selectedIndex].text
              ) {
                for (const viz of page.visualizations) {
                  // filter out the the vis which has 'secondaryDataProvidedFor'
                  // these viz are not able to render
                  if (viz.secondaryDataProvidedFor) {
                    continue;
                  }
                  const card = document.getElementById(viz.key);
                  card.className = 'card-invisible';
                }
              } else {
                for (const viz of page.visualizations) {
                  // filter out the the vis which has 'secondaryDataProvidedFor'
                  // these vis are not able to render
                  if (viz.secondaryDataProvidedFor) {
                    continue;
                  }
                  const card = document.getElementById(viz.key);
                  card.className = 'card-playground';
                }
              }
            }
          }
        }

        function configurePageSelecter() {
          for (const chapter of dossierDefinition.chapters) {
            for (const page of chapter.pages) {
              const optionElement = document.createElement('option');
              optionElement.value = page.name;
              optionElement.text = page.name;
              pageSelecter.add(optionElement);
            }
            pageSelecter.selectedIndex = 0;
          }
        }
      };
    </script>
  </body>
</html>
