@import './variables.css';
html {
  background-color: var(--PRIMARY-BACKGROUND);
}
.basic-container {
  display: flex;
  position: relative;
  font: 14px;
  background-color: var(--BACKGROUND);
  padding: 7px;
  flex-direction: row;
}
.example-container {
  display: flex;
  background-color: var(--color-white);
  padding: 7px;
  margin: 7px;
  box-sizing: border-box;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 20%);
  border: 1px solid var(--BACKGROUND);
  flex-direction: column;
  flex: 1 1 60vw;
}
.basic-button {
  width: 200x;
  padding: 5px;
  border: none;
  border-radius: 3px;
  background-color: var(--BUTTON-PRIMARY);
  color: var(--color-white);
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  pointer-events: auto;
}
.basic-button:disabled {
  background-color: var(--BUTTON-PRIMARY-INACTIVE);
  cursor: default;
}
.instructions-container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  background-color: var(--color-white);
  padding: 7px;
  margin: 7px;
  box-sizing: border-box;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 20%);
  border: 1px solid var(--BACKGROUND);
  overflow-wrap: break-word;
  flex: 0 2 40vw;
  max-width: 40vw;
}

.instructions-title {
  font-size: 18px;
  font-weight: bold;
}
.instruction {
  margin-left: 5px;
}
