<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <script
      type="text/javascript"
      src="https://demo.microstrategy.com/MicroStrategyLibrary/javascript/native-embedding-sdk.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/markdown-it@12/dist/markdown-it.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dompurify@3.1.2/dist/purify.min.js"></script>
    <link rel="stylesheet" href="./templates/styles/unifiedBot.css" />
  </head>
  <body>
    <div class="parent-div">
      <img class="title-bar" src="./templates/images/new_client_bar.png" alt="Example Image" />
      <div class="content">
        <div class="client-web" id="clientWeb">
          <img src="./templates/images/new_client_web.png" alt="Example Image" />
        </div>
        <div class="chatbox" id="chatBox">
          <div class="chat-title">Auto Bot</div>
          <div class="chat-container" id="chat-container"></div>
          <div class="suggestions-wrapper" id="suggestions-wrapper">
            <span class="suggestions-title" id="suggestions-title"></span>
            <div class="suggestions" id="suggestionHolder"></div>
          </div>
          <div class="input-wapper">
            <div class="input-text-wapper">
              <input
                type="text"
                class="user-input"
                id="userInput"
                placeholder="Ask me a question..."
                disabled
              />
            </div>
            <button class="send-button" onclick="sendMessage()">
              <img class="send-pic" src="./templates/images/Send.png" alt="Send button" />
            </button>
          </div>
          <div class="chat-description">
            AI can make mistakes. Consider checking important information for accuracy.
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      const serverUrl = 'https://demo.microstrategy.com/MicroStrategyLibrary';
      let environment = null;
      let authToken = null;
      let containerElementPrefix = 'containerElement';
      let containerElementId = 0;
      let bot = null;
      let questionPromise;
      const md = window.markdownit();
      //****BotAuto****

      // process answer
      async function processAnswer({ question, status, botConfig }) {
        let chatContainer = document.getElementById('chat-container');
        switch (status) {
          // render the message when the bot is routing
          case QUESTION_STATUS.BOT_ROUTING:
            containerElementId += 1;
            let searchForBotElement = document.createElement('div');
            searchForBotElement.classList.add('answer-message');
            searchForBotElement.textContent = `Searching for a bot to answer your question...`;
            searchForBotElement.id = containerElementPrefix + containerElementId;
            chatContainer.appendChild(searchForBotElement);
            break;
          // render the message when the bot is found
          case QUESTION_STATUS.BOT_FOUND:
            let targetBotElement = document.getElementById(
              containerElementPrefix + containerElementId,
            );
            targetBotElement.classList.add('answer-message');
            targetBotElement.textContent = `Bot '${botConfig.name}' is matched to answer your question.`;
            break;
          // render the message when the bot is thinking
          case QUESTION_STATUS.THINKING:
            let botMessageElement = document.createElement('div');
            botMessageElement.id = question.id;
            botMessageElement.classList.add('answer-message');
            botMessageElement.textContent = 'The bot is thinking, please wait...';
            chatContainer.appendChild(botMessageElement);
            break;
          // render the message when the answer is ready
          case QUESTION_STATUS.ANSWER_READY:
            for (const answer of question.answers) {
              let botMessageElement = document.getElementById(question.id);
              botMessageElement.innerHTML = md.render(answer.text);
              // render visualization if the answer type is visualization
              if (answer.type === 'visualization') {
                let answerVizElement = document.createElement('img');
                answerVizElement.id = answer.images[0].id;
                answerVizElement.classList.add('answer-viz');
                botMessageElement.appendChild(answerVizElement);
                await renderVisualizationUsingPicture(
                  answerVizElement,
                  question.id,
                  answer.images[0].id,
                );
              }
            }
            break;
          // render the message when the bot is not found
          case QUESTION_STATUS.BOT_NOT_FOUND:
            let errorMessageElement = document.getElementById(
              containerElementPrefix + containerElementId,
            );
            errorMessageElement.classList.add('answer-message');
            errorMessageElement.textContent = `We couldn't find a bot to answer your question. This might be because there are no available bots in the scope you provided, or none of the bots you have access to can answer your question. Please check your parameters and access privileges.`;
            break;
          default:
            break;
        }
        chatContainer.scrollTop = chatContainer.scrollHeight;
      }

      // render the visualization using the picture
      async function renderVisualizationUsingPicture(answerVizElement, questionId, imageId) {
        const arrayBuffer = await API.getImage(questionId, imageId);
        const compressedData = new Uint8Array(arrayBuffer);
        const blob = new Blob([compressedData.buffer], { type: 'image/png' });
        // Create a URL for the Blob and set it as the source of the image
        const imageUrl = URL.createObjectURL(blob);
        answerVizElement.src = imageUrl;
        // Revoke the object URL after the image loads to release memory
        answerVizElement.onload = () => {
          URL.revokeObjectURL(imageUrl);
        };
      }

      // login and load the environment
      const loadEnv = async () => {
        try {
          console.log('Loading environment...');
          // feature flag for enable chat between multiple bots
          window.microstrategy.nativeEmbedding.featureFlags.multipleDossiers = true;
          // Log in to get the auth token
          const config = {
            serverUrl,
            getAuthToken: API.getAuthToken,
          };
          // INSERT PROPERTIES BELOW HERE

          // INSERT PROPERTIES ABOVE HERE
          environment = await microstrategy.embeddingComponent.environments.create(config);
          // get the auth token used for REST API calls
          authToken = environment._getEnvironment().getAuthToken();
          // the suggestions are loaded when the environment is ready
          processSuggestions(authToken, serverUrl);
          // enable the input box after the environment is ready
          document.getElementById('userInput').disabled = false;
          console.log('The environment is ready. You can start chatting now.');
        } catch (error) {
          console.error(
            'Please fill in the correct environment info in "Your Environment":',
            error,
          );
        }
      };

      loadEnv();
    </script>
  </body>
</html>
