<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <script
      type="text/javascript"
      src="https://demo.microstrategy.com/MicroStrategyLibrary/javascript/native-embedding-sdk.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/markdown-it@12/dist/markdown-it.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dompurify@3.2.0/dist/purify.min.js"></script>
    <link rel="stylesheet" href="./templates/styles/unifiedBot.css" />
  </head>
  <body>
    <div class="parent-div">
      <img class="title-bar" src="./templates/images/new_client_bar.png" alt="Example Image" />
      <div class="content">
        <div class="client-web" id="clientWeb">
          <img src="./templates/images/new_client_web.png" alt="Example Image" />
        </div>
        <div class="chatbox" id="chatBox">
          <div class="chat-title">Agent</div>
          <div class="chat-container" id="chat-container"></div>
          <div class="suggestions-wrapper" id="suggestions-wrapper">
            <span class="suggestions-title" id="suggestions-title"></span>
            <div class="suggestions" id="suggestionHolder"></div>
          </div>
          <div class="input-wapper">
            <div class="input-text-wapper">
              <input
                type="text"
                class="user-input"
                id="userInput"
                placeholder="Ask me a question..."
                disabled
              />
            </div>
            <button class="send-button" onclick="sendMessage()">
              <img class="send-pic" src="./templates/images/Send.png" alt="Send button" />
            </button>
          </div>
          <div class="chat-description">
            AI can make mistakes. Consider checking important information for accuracy.
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      const serverUrl = 'https://demo.microstrategy.com/MicroStrategyLibrary';
      var botConfigs = {
        projectId: '38328E048D427571975C388F7C402AD8',
        objectId: '4A8579EA73C4441AB8C8D3C701D54FFF',
      };
      let environment = null;
      let authToken = null;
      let containerElementPrefix = 'containerElement';
      let containerElementId = 0;
      let bot = null;
      let questionPromise;
      const md = window.markdownit();

      // the status of the question
      const QUESTION_STATUS = {
        BOT_ROUTING: 'BOT_ROUTING',
        BOT_FOUND: 'BOT_FOUND',
        THINKING: 'THINKING',
        ANSWER_READY: 'ANSWER_READY',
        BOT_NOT_FOUND: 'BOT_NOT_FOUND',
      };

      // Pressing Enter key also sends message
      document.getElementById('userInput').addEventListener('keyup', function (event) {
        if (event.keyCode === 13) {
          // Enter key
          event.preventDefault();
          sendMessage();
        }
      });

      // when the user sends a message
      async function sendMessage() {
        let userInput = document.getElementById('userInput');
        let message = userInput.value;
        // clear the input box and disable it until we get responds
        userInput.value = '';

        if (message.trim() !== '') {
          // render the question message
          questionPromise = processQuestion(message);
        }
      }

      // render a question message
      function addQuestionMsg(msg) {
        var chatContainer = document.getElementById('chat-container');
        var messageElement = document.createElement('div');
        messageElement.classList.add('ask-message');
        // *** NEED TO SANITIZE THE INPUT TO PREVENT XSS ATTACKS! ***
        messageElement.textContent = DOMPurify.sanitize(msg);
        chatContainer.appendChild(messageElement);
        chatContainer.scrollTop = chatContainer.scrollHeight; // Scroll to bottom
      }

      function parseBotConfigs(answerData) {
        let info = answerData.split(':');
        return {
          projectId: info[0],
          objectId: info[1],
          chatId: info[2],
          questionId: info[3],
        };
      }

      // all the REST API calls
      let API = {
        async getSuggestions(authToken, serverUrl) {
          try {
            const getSuggestionsUrl = serverUrl + '/api/questions/suggestions';
            const response = await fetch(getSuggestionsUrl, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-MSTR-AuthToken': authToken,
                'X-MSTR-ProjectID': 'B19DEDCC11D4E0EFC000EB9495D0F44F',
              },
              body: JSON.stringify({
                count: 3, // replace with your suggestion items count
                bots: [
                  {
                    id: botConfigs.objectId,
                    projectId: botConfigs.projectId,
                  },
                ],
              }),
              credentials: 'include', // Including cookie
              mode: 'cors', // Setting as cors mode for cross origin
            });
            await checkApiStatus(response);
            return await response.json();
          } catch (err) {
            console.error(err);
          }
        },

        async postQuestion(msg) {
          try {
            const askQuestionUrl = serverUrl + '/api/questions'; // the contentGroupIds is optional here: ?contentGroupIds=75A330687C4E2520BA5819BB9476A387
            const question = JSON.stringify({
              text: msg,
              'answers.images': [{ width: 700, height: 400 }],
              bots: [
                {
                  id: botConfigs.objectId,
                  projectId: botConfigs.projectId,
                },
              ],
            });
            const response = await fetch(askQuestionUrl, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-MSTR-AuthToken': authToken,
                'X-MSTR-ProjectID': botConfigs.projectId,
                Prefer: 'respond-async',
              },
              body: question,
              credentials: 'include', // Including cookie
              mode: 'cors', // Setting as cors mode for cross origin
            });
            await checkApiStatus(response);
            const answer = await response.json();
            // return the answer id which contains the routed bot info
            return answer.id;
          } catch (err) {
            console.error(err);
          }
        },

        async getImage(questionId, imageId) {
          try {
            const getImageUrl =
              serverUrl + '/api/questions/' + questionId + '/answers/images/' + imageId;
            const response = await fetch(getImageUrl, {
              method: 'GET',
              headers: {
                'X-MSTR-AuthToken': authToken,
              },
              credentials: 'include', // Including cookie
              mode: 'cors', // Setting as cors mode for cross origin
            });
            await checkApiStatus(response);
            return await response.arrayBuffer();
          } catch (err) {
            console.error(err);
          }
        },

        async getQuestionAnswer(answerId) {
          try {
            const getAnswerUrl = serverUrl + '/api/questions/' + answerId;
            const answerRes = await fetch(getAnswerUrl, {
              method: 'GET',
              headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-MSTR-AuthToken': authToken,
                Prefer: 'respond-async',
              },
              credentials: 'include', // Including cookie
              mode: 'cors', // Setting as cors mode for cross origin
            });
            await checkApiStatus(answerRes);
            const content = await answerRes.json();
            return { content, status: answerRes.status };
          } catch (err) {
            console.error(err);
          }
        },

        async getBotConfig({ projectId, objectId }) {
          try {
            const askQuestionUrl = serverUrl + '/api/v2/bots/' + objectId + '/config';
            let response;
            response = await fetch(askQuestionUrl, {
              method: 'GET',
              headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-MSTR-AuthToken': authToken,
                Prefer: 'respond-async',
                'X-MSTR-ProjectID': projectId,
              },
              credentials: 'include', // Including cookie
              mode: 'cors', // Setting as cors mode for cross origin
            });
            await checkApiStatus(response);
            const botInfo = await response.json();
            return botInfo;
          } catch (err) {
            console.error(err);
          }
        },

        async getAuthToken() {
          // here we use standard login by default, we can also use the other login in methods (SAML/OIDC ...).
          return fetch(serverUrl + '/api/auth/login', {
            method: 'POST',
            credentials: 'include', // including cookie
            mode: 'cors', // setting as CORS mode for cross origin
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
              loginMode: 8,
              username: 'usernamePlaceholder',
              password: 'passwordPlaceholder',
            }),
          })
            .then((response) => {
              if (response && response.ok) {
                return response.headers.get('X-MSTR-authToken');
              }
              throw Error('Failed to fetch auth token.');
            })
            .catch((error) => {
              console.log('Error:', error);
            });
        },
      };

      async function checkApiStatus(response) {
        const { status } = response;
        if (status >= 200 && status < 300) {
          return response;
        } else {
          const json = await response.json();
          throw new Error('API response returns error: ' + JSON.stringify(json));
        }
      }

      // get the suggestions and render them
      async function processSuggestions(authToken, serverUrl) {
        const suggestionItems = await API.getSuggestions(authToken, serverUrl);
        const newElement = document.getElementById('suggestions-title');
        newElement.innerText = 'Related Suggestions:';
        // render the suggestion items
        const suggestionHolder = document.getElementById('suggestionHolder');
        suggestionHolder.innerHTML = '';
        suggestionHolder.className = 'suggestions-disabled';
        suggestionItems.suggestions.forEach((suggestion) => {
          // create a new element
          const suggestionElement = document.createElement('div');
          suggestionElement.classList.add('suggestions-item');
          suggestionElement.textContent = suggestion.text;
          // make the suggestions unclickable
          suggestionElement.className = 'suggestions-item-disabled';
          suggestionHolder.appendChild(suggestionElement);
          // when the suggestion is clicked, answer the question
          suggestionElement.addEventListener('click', () => {
            questionPromise = processQuestion(suggestion.text);
          });
        });
        // adjust the height of chatbox when the suggestions are rendered
        var chatContainer = document.getElementById('chat-container');
        chatContainer.scrollTop = chatContainer.scrollHeight;
        // enable the suggestion items only after the question is answered
        if (questionPromise) {
          await questionPromise;
        }
        suggestionHolder.className = 'suggestions';
        const newItems = Array.from(suggestionHolder.children);
        newItems.forEach((item) => {
          item.className = 'suggestions-item';
        });
      }

      // entry point to process the question asked
      async function processQuestion(message) {
        // disable the suggestion items and input box
        document.getElementById('userInput').disabled = true;
        const suggestionHolder = document.getElementById('suggestionHolder');
        const items = Array.from(suggestionHolder.children);
        items.forEach((item) => {
          item.className = 'suggestion-animation';
          item.textContent = '';
        });
        try {
          addQuestionMsg(message);
          // console.log("Searching for bot to answer this question...");
          await processAnswer({ status: QUESTION_STATUS.BOT_ROUTING });
          const answerId = await API.postQuestion(message);
          // can not find an appropriate bot to answer the question
          if (!answerId) {
            // render the answer messgae that no bot is found
            await processAnswer({ status: QUESTION_STATUS.BOT_NOT_FOUND });
            // processSuggestions(authToken, serverUrl);
          } else {
            // retrieve the answer content and render it
            botInfo = parseBotConfigs(answerId);
            // get the bot configuration from the bot id
            let botConfig = await API.getBotConfig(botInfo);
            console.log('asking to agent:' + JSON.stringify(botConfig.general.name));
            // render the answer message of the routed bot info
            await processAnswer({
              status: QUESTION_STATUS.BOT_FOUND,
              botConfig: { name: botConfig.general.name, id: botInfo.objectId },
            });
            // get the new suggestions when the bot is routed
            // processSuggestions(authToken, serverUrl);
            // retrieve the answer content from the answerId
            let answerData = await API.getQuestionAnswer(answerId);
            await processAnswer({
              status: QUESTION_STATUS.THINKING,
              question: answerData.content,
            });
            // wait for the answer to be ready
            while (answerData.status !== 200) {
              console.log('answer is not ready yet, please wait...');
              answerData = await API.getQuestionAnswer(answerId);
              // wait 1 sec
              await new Promise((resolve) => setTimeout(resolve, 1000));
            }
            await processAnswer({
              status: QUESTION_STATUS.ANSWER_READY,
              question: answerData.content,
            });
          }
        } catch (error) {
          console.error('Error on processing question:', error);
        } finally {
          // enable the suggestion items and input box
          document.getElementById('userInput').disabled = false;
        }
      }

      // process answer
      async function processAnswer({ question, status, botConfig }) {
        let chatContainer = document.getElementById('chat-container');
        switch (status) {
          // render the message when the bot is routing
          case QUESTION_STATUS.BOT_ROUTING:
            // containerElementId += 1;
            // let searchForBotElement = document.createElement("div");
            // searchForBotElement.classList.add("answer-message");
            // searchForBotElement.textContent = `Searching for a bot to answer your question...`;
            // searchForBotElement.id =
            //   containerElementPrefix + containerElementId;
            // chatContainer.appendChild(searchForBotElement);
            break;
          // render the message when the bot is found
          case QUESTION_STATUS.BOT_FOUND:
            // let targetBotElement = document.getElementById(
            //   containerElementPrefix + containerElementId
            // );
            // targetBotElement.classList.add("answer-message");
            // targetBotElement.textContent =
            //   "The bot is thinking, please wait...";
            break;
          // render the message when the bot is thinking
          case QUESTION_STATUS.THINKING:
            let botMessageElement = document.createElement('div');
            botMessageElement.id = question.id;
            botMessageElement.classList.add('answer-message');
            botMessageElement.textContent = 'The agent is thinking, please wait...';
            chatContainer.appendChild(botMessageElement);
            break;
          // render the message when the answer is ready
          case QUESTION_STATUS.ANSWER_READY:
            for (const answer of question.answers) {
              let botMessageElement = document.getElementById(question.id);
              botMessageElement.innerHTML = md.render(answer.text);

              // render visualization if the answer type is visualization
              if (answer.type === 'visualization') {
                let answerVizElement = document.createElement('img');
                answerVizElement.id = answer.images[0].id;
                answerVizElement.classList.add('answer-viz');
                botMessageElement.appendChild(answerVizElement);
                await renderVisualizationUsingPicture(
                  answerVizElement,
                  question.id,
                  answer.images[0].id,
                );
              }

              // render insights if they are available
              if (answer.insights) {
                let insightsHint = document.createElement('div');
                insightsHint.innerHTML = '<strong>Insights:</strong>';
                botMessageElement.appendChild(insightsHint);

                let insightsElement = document.createElement('div');
                insightsElement.innerHTML = md.render(answer.insights);
                botMessageElement.appendChild(insightsElement);
              }
            }
            break;
          // render the message when the bot is not found
          case QUESTION_STATUS.BOT_NOT_FOUND:
            let errorMessageElement = document.getElementById(
              containerElementPrefix + containerElementId,
            );
            errorMessageElement.classList.add('answer-message');
            errorMessageElement.textContent = `We couldn't find a bot to answer your question. This might be because there are no available bots in the scope you provided, or none of the bots you have access to can answer your question. Please check your parameters and access privileges.`;
            break;
          default:
            break;
        }
        chatContainer.scrollTop = chatContainer.scrollHeight;
      }

      // render the visualization using the picture
      async function renderVisualizationUsingPicture(answerVizElement, questionId, imageId) {
        const arrayBuffer = await API.getImage(questionId, imageId);
        const compressedData = new Uint8Array(arrayBuffer);
        const blob = new Blob([compressedData.buffer], { type: 'image/png' });
        // Create a URL for the Blob and set it as the source of the image
        const imageUrl = URL.createObjectURL(blob);
        answerVizElement.src = imageUrl;
        // Revoke the object URL after the image loads to release memory
        answerVizElement.onload = () => {
          URL.revokeObjectURL(imageUrl);
        };
      }

      // login and load the environment
      const loadEnv = async () => {
        try {
          console.log('Loading environment...');
          // feature flag for enable chat between multiple bots
          window.microstrategy.nativeEmbedding.featureFlags.multipleDossiers = true;
          // Log in to get the auth token
          const config = {
            serverUrl,
            getAuthToken: API.getAuthToken,
          };
          // INSERT PROPERTIES BELOW HERE
          console.log('create env');
          // INSERT PROPERTIES ABOVE HERE
          environment = await microstrategy.embeddingComponent.environments.create(config);
          // get the auth token used for REST API calls
          console.log('create env successful');
          authToken = environment._getEnvironment().getAuthToken();
          // the suggestions are loaded when the environment is ready
          // processSuggestions(authToken, serverUrl);
          // enable the input box after the environment is ready
          document.getElementById('userInput').disabled = false;
          console.log('The environment is ready. You can start chatting now.');
        } catch (error) {
          console.error(
            'Please fill in the correct environment info in "Your Environment":',
            error,
          );
        }
      };

      loadEnv();
    </script>
  </body>
</html>
