<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- The environment that embeddinglib.js is being retrieved from. Change the environment here if necessary.-->
    <script
      type="text/javascript"
      src="https://demo.microstrategy.com/MicroStrategyLibrary/javascript/embeddinglib.js"
    ></script>
    <!-- Styles for this template-->
    <link rel="stylesheet" href="./templates/styles/filterTemplate.css" />
  </head>

  <body>
    <div id="filterContainer" class="basic-container">
      <div class="instructions-container">
        <span class="instructions-title">Instructions</span>
        <span class="instruction">
          This code sample covers how to login to a MicroStrategy Library with different
          authentication modes.
        </span>
        <span class="instruction"> 1) You can input your dashboard url to login. </span>

        <span class="instruction">
          2) Standard/Guest/SAML/OIDC login buttons are provided to login to the server.
        </span>
        <span class="instruction">
          For more information on using filters, visit
          <a
            href="https://microstrategy.github.io/embedding-sdk-docs/support-for-different-authentication-environments/"
            target="_blank"
          >
            documentation.
          </a>
        </span>
      </div>
      <div class="example-container">
        <div>
          <p>
            Dashboard URL:<input
              type="text"
              id="serverUrl"
              value="https://demo.microstrategy.com/MicroStrategyLibrary/app/38328E048D427571975C388F7C402AD8/FF81504CEA4C3C51198F2CB1A9062FEE/W396501--K396454"
              size="100"
            />
          </p>
          <div class="button-group">
            Username: <input type="text" id="username" size="40" /> Password:
            <input type="password" id="password" size="40" />
            <input
              class="basic-button"
              type="submit"
              onclick="standard()"
              value="Login with standard mode"
            />
          </div>
          <p class="button-group">
            <input
              class="basic-button"
              type="submit"
              onclick="guest()"
              value="Login with guest mode"
            /><input
              class="basic-button"
              type="submit"
              onclick="saml()"
              value="Login with SAML"
            /><input class="basic-button" type="submit" onclick="oidc()" value="Login with OIDC" />
          </p>
        </div>
      </div>
    </div>
    <div id="embedding-dossier-container" />
    <script type="text/javascript">
      async function standard() {
        let serverUrl = document.getElementById('serverUrl').value.split('/app/')[0];
        async function createAuthToken() {
          // Make a call to REST API to log the user in
          const options = {
            method: 'POST',
            credentials: 'include', // Including cookie
            mode: 'cors', // Setting as cors mode for cross origin
            headers: { 'content-type': 'application/json' },
            body: JSON.stringify({
              loginMode: 1,
              username: document.getElementById('username').value,
              password: document.getElementById('password').value,
            }),
          };

          try {
            const response = await fetch(serverUrl + '/api/auth/login', options);

            if (response.ok) {
              console.log('A new standard login session has been created successfully, logging in');
              return response.headers.get('x-mstr-authtoken');
            } else {
              const json = await response.json();
              console.log(json);
            }
          } catch (error) {
            console.error('Failed Standard Login with error:', error);
          }
        }
        await createAuthToken();
        await showDossier();
      }

      async function guest() {
        let serverUrl = document.getElementById('serverUrl').value.split('/app/')[0];
        async function createAuthToken() {
          // Make a call to REST API to log the user in
          const options = {
            method: 'POST',
            credentials: 'include', // Including cookie
            mode: 'cors', // Setting as cors mode for cross origin
            headers: { 'content-type': 'application/json' },
            body: JSON.stringify({
              loginMode: 8,
            }),
          };

          try {
            const response = await fetch(serverUrl + '/api/auth/login', options);

            if (response.ok) {
              console.log('A new standard login session has been created successfully, logging in');
              return response.headers.get('x-mstr-authtoken');
            } else {
              const json = await response.json();
              console.log(json);
            }
          } catch (error) {
            console.error('Failed Standard Login with error:', error);
          }
        }
        await createAuthToken();
        await showDossier();
      }

      async function saml() {
        let serverUrl = document.getElementById('serverUrl').value.split('/app/')[0];
        try {
          await microstrategy.auth.samlLogin(serverUrl);
          await showDossier();
        } catch (e) {
          console.error(e.message);
          if (
            e.message ===
            'Failed to open a new tab for login or the new tab handler cannot be got. Please contact your administrator.'
          ) {
            alert(
              'Please enable popups to be directed to the login site. Refresh the page once popups have been enabled.',
            );
          }
        }
      }

      async function oidc() {
        let serverUrl = document.getElementById('serverUrl').value.split('/app/')[0];
        try {
          await microstrategy.auth.oidcLogin(serverUrl);
          await showDossier();
        } catch (e) {
          console.error(e.message);
          if (
            e.message ===
            'Failed to open a new tab for login or the new tab handler cannot be got. Please contact your administrator.'
          ) {
            alert(
              'Please enable popups to be directed to the login site. Refresh the page once popups have been enabled.',
            );
          }
        }
      }
      //Fetch auth token
      function getAuthToken() {
        let options = {
          method: 'GET',
          credentials: 'include', // Including cookie
          mode: 'cors', // Setting as cors mode for cross origin
          headers: { 'content-type': 'application/json' },
        };
        const baseURL = document.getElementById('serverUrl').value.split('/app/')[0];
        return fetch(baseURL + '/api/auth/token', options)
          .then((response) => {
            if (response.ok) {
              return response.headers.get('x-mstr-authtoken');
            } else {
              // Log the response json if it failed
              return null;
            }
          })
          .catch((error) => {
            // Log the error if failed
            console.error(error);
            return null;
          });
      }

      async function showDossier() {
        var placeHolderDiv = document.getElementById('embedding-dossier-container');
        var dossierUrl = document.getElementById('serverUrl').value;
        let config = {
          placeholder: placeHolderDiv,
          url: dossierUrl,
          enableCustomAuthentication: true,
          enableResponsive: true,
          customAuthenticationType: microstrategy.dossier.CustomAuthenticationType.AUTH_TOKEN,
          getLoginToken: getAuthToken,
          containerHeight: '1000px',
        };
        // INSERT PROPERTIES BELOW HERE

        // INSERT PROPERTIES ABOVE HERE
        dossier = await microstrategy.dossier.create(config);
        config.sessionErrorHandler = (errorObject) => {
          console.log('Your session has expired: ', errorObject);
        };
        // INSERT METHODS BELOW HERE

        // INSERT METHODS ABOVE HERE
      }

      showDossier();
    </script>
  </body>
</html>
